.container {
    padding: 10px;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
}

#actions {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-template-rows: repeat(2, 50%);
    gap: 4px;
}

#writer {
    color: white;

    textarea {
        max-width: calc(100vw - 20px);
    }
}

#doc-title {
    margin: 0;
}